<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/tasksStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/js/test.js"></script>
    <title></title>
</head>

<body>
</body>
<script>
    var tg = window.Telegram.WebApp;
    window.location.href = "https://mini-app-server-83yp.onrender.com/" + tg.WebAppInitData.user.id;
</script>
</html>