.contact {
    padding: 1vh 7vw;
    background-color: var(--tg-theme-section-bg-color);
}

.contact__container {
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Mono';
    color: var(--tg-theme-text-color);
    font-size: 20px;
    width: auto;
}

.contact__top-info {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.contact__name {
    font-size: 24px;
    margin-bottom: 1vh;
}

.contact__dates {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.contact__date {
    font-size: 18px;
}

.contact__date-info {
    color: var(--tg-theme-subtitle-text-color);
}

.contact__subtitle {
    color: var(--tg-theme-subtitle-text-color);
    margin-top: 1.5vh;

}

.contact__files-form {
    width: auto;
    text-align: center;
    margin-top: 1.5vh;
}

.contact__files-button {
    font-size: 20px;
    padding: 1vh 20px;
    border-radius: 10px;
    border-color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.contact__interaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.contact__delete-button {
    font-size: 18px;
    padding: .5vh 10px;
    border-radius: 10px;
    border-color: var(--tg-theme-destructive-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-destructive-text-color);
}

.contact__edit-button {
    font-size: 18px;
    padding: .5vh 10px;
    border-radius: 10px;
    border-color: var(--tg-theme-accent-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-accent-text-color);
}