.contact {
    padding: 1vh 7vw;
}

.contact__container {
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu Mono';
    color: var(--tg-theme-text-color);
    font-size: 18px;
    width: auto;
}

.contact__name {
    font-size: 24px;
}

.contact__subtitle {
    color: var(--tg-theme-text-color);
    margin-top: 15px;
}

.contact__files-form {
    width: auto;
    text-align: center;
    margin-top: 1.5vh;
}

.contact__files-button {
    font-size: 20px;
    padding: 1vh 20px;
    border-radius: 10px;
    border-color: var(--tg-theme-button-text-color);
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.return__interaction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.contact__button {
    border: none;
    background-color: transparent;
    color: var(--tg-theme-destructive-text-color);
}

.contact__button-value {
    width: 20px;
    fill: var(--tg-theme-accent-text-color);
}

.contact__top-menu {
    display: flex;
    justify-content: space-between;
}

.contact__title {
    font-size: 16px;
    color: var(--tg-theme-subtitle-text-color);
}

.contact__links {
    margin-top: 5px;
    display: block;
    color: var(--tg-theme-text-color);
}

.contact__notes-text {
    margin-top: 5px;
    border: 1px solid var(--tg-theme-section-separator-color);
    border-radius: 10px;
    padding: 15px;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-section-bg-color);
    min-height: 80px;
    max-height: 150px;
}

.contact__dates {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 2vh;
}

.contact__date {
    font-size: 16px;
    color: var(--tg-theme-subtitle-text-color);
}

.task {
    font-family: 'Ubuntu Mono';
    font-size: 16px;
    border: 1px var(--tg-theme-section-separator-color) solid;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: var(--tg-theme-text-color);
    display: block;
    text-decoration: none;
}

.contact__tasks-title {
    font-size: 16px;
    color: var(--tg-theme-subtitle-text-color);
}

.task__part {
    display: flex;
    justify-content: space-between;
}

.contact__tasks-container {
    font-family: 'Ubuntu Mono';
    font-size: 16px;
    margin-top: 15px;
}

.task__title {
    font-size: 18px;
    margin-bottom: 10px;
}

.task__priority {
    color: var(--tg-theme-accent-text-color);
}

.task__description {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task__part:last-child {
    color: var(--tg-theme-subtitle-text-color);
}

.contact__top-part {
    display: flex;
    justify-content: space-between;
}